<perfect-scrollbar class="nav" (psScrollY)="test($event)" [config]="psConfig">
      <ng-container *ngFor="let q of menuItems">
  <div class="menu" fxLayout="row" fxLayoutAlign="stretch" fxLayoutWrap>
      <div fxFlex="grow" fxLayoutAlign="center center" class="header"><span>Our</span><h1>{{q.name}}</h1></div>
      <ng-container *ngFor="let i of q.child">
        <div fxFlex.gt-md="33.3333333" fxLayoutAlign="center center" class="p-6">
          <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
            {{i.name}}
          </div>
        </div>
      </ng-container>
  </div>
      </ng-container>
</perfect-scrollbar>
