<div class="nav">
  <div class="menu" fxLayout="row wrap" fxLayoutAlign="stretch">
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item rounded shadow-md">
      1
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item rounded shadow-md">
      2
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item rounded shadow-md">
      3
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item rounded shadow-md">
      4
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item rounded shadow-md">
      5
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item rounded shadow-md">
      6
    </div>
  </div>
</div>
</div>
