<div class="nav">
  <div class="menu" fxLayout="row wrap" fxLayoutAlign="stretch">
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
      1
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
      2
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
      3
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
      4
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
      5
    </div>
  </div>
  <div fxFlex="33.3333333" fxLayoutAlign="center center">
    <div class="item bg-transparent shadow-md border-4 text-primary hover:bg-primary hover:text-secondary">
      6
    </div>
  </div>
</div>
</div>
