@import "./typography.scss";

// Color Pallete
$primary : #048998;
$accent: #3BB4C1;
$background: #F6F5F5;
$menu-background-color: #333644;
$secondary: #E3E3E3;
$menu-background: url('/assets/images/pattern.svg');

//Fonts
$heading: 'DIN';
$teko: 'Teko', sans-serif;
$exo-2: 'Exo 2', sans-serif;
